*{
    margin: 0;
    padding: 0;
}

body{
    background: hsl(36, 100%, 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.overall-container {
    width: 800px;
}

#up{
    position: relative;
    text-align: left;
}

.web3 {
    width: 100%;
    height: 55%;
}

.parent-container {
    display: flex;
    padding-top: 100px;
    gap: 20px;
}

.right-container {
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 20px;
    height: 323px;
    width: 450px;
}

.middle-container{
    display: flex;
    padding-top: 30px;
}
.middle-container h1 {
    font-size: 40px;
}

.below-container{
    padding-left: 16px;
}

h1{
    font-size: 30px;
    font-weight: 900;
    /* padding-right: 10px; */
    color: hsl(240, 100%, 5%);
}

.we{
    font-size: 13px;
    font-weight: 300;
    color: hsl(233, 8%, 79%);
    padding-bottom: 30px;
    padding-right: 25px;
    width: 280px;
}

#new{
    font-size: 25px;
    color: hsl(35, 77%, 62%);
    padding-bottom: 20px;
}

#container2{
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

#hydrogen{
    font-size: 15px;
    padding-bottom: 10px;
}

#will{
    font-size: 10px;
}

#container3{
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

#the{
    font-size: 15px;
    padding-bottom: 10px;
}

#what{
    font-size: 10px;
}

#container4{
    padding-top: 15px;
    padding-bottom: 30px;
}

#is{
    font-size: 15px;
    padding-bottom: 10px;
}

#private{
    font-size: 10px;
}

.red{
    background: hsl(5, 85%, 63%);
    width: 125px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.read{
    color: hsl(36, 100%, 99%);
    font-size: 13px;
    background: hsl(5, 85%, 63%);
        width: 125px;
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 30px;
}

.bottom{
    display: flex;
    padding-top: 35px;
}
.space1{
    display: flex;
}
.retro{
    width: 90px;
    height: 110px;
}
.space3{
    padding-left: 30px;
    padding-right: 50px;
}
.number1{
    color: hsl(233, 8%, 79%);
    font-size: 25px;
    padding-bottom: 8px;
}
.reviving{
    color:hsl(240, 100%, 5%);
    font-size: 17px;
    padding-bottom: 8px;
}
.happens{
    color: hsl(233, 8%, 79%);
    font-size: 8px;
    padding-bottom: 8px;
}
.space4{
    display: flex;
    padding-right: 20px;
}
.space5{
    padding-right: 10px;
}
.laptop{
    width: 80px;
    height: 100px;
}
.space6{
    padding-left: 10px;
    padding-right: 50px;
}
.number2{
    color: hsl(233, 8%, 79%);
    font-size: 25px;
    padding-bottom: 8px;
}
.top{
    color: hsl(240, 100%, 5%);
    font-size: 20px;
    padding-bottom: 8px;
}
.our{
    color: hsl(233, 8%, 79%);
    font-size: 10px;
    padding-bottom: 8px;
}
.space7{
    display: flex;
}
.space8{
    padding-right: 10px;
}
.gaming{
    width: 80px;
    height: 100px;
}
.space9{
    padding-left: 10px;
    padding-right: 50px;
}
.number3{
    color: hsl(233, 8%, 79%);
    font-size: 25px;
    padding-bottom: 8px;
}
.growth{
    color: hsl(240, 100%, 5%);
    font-size: 20px;
    padding-bottom: 8px;
}
.how{
    color: hsl(233, 8%, 79%);
    font-size: 10px;
    padding-bottom: 8px;
}






